body{
    font-weight: normal;
    user-select: none;
}
.conditions{
    width: 300px;
    padding: 0;
}
.infoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bonuses {
    margin-top: 15px;
}
.bonuses .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.bonuses h2{
    text-align: center;
    color: rgb(54, 80, 37);
    margin: 0;
}
.bonuses .bonus{
    position: relative;
    cursor: pointer;
    margin: 10px;
    
}
.bonuses .bonus .timerBonus{
    display: none;
    color: #ffffff;
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 25px;
    margin: auto;
    font-weight: 700;
}
.skills .skill .timerSkill{
    display: none;
    color: #ffffff;
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 25px;
    margin: auto;
    font-weight: 700;
}
.bonuses .bonus.active .timerBonus, .skills .skill .timerSkill{
    display: block;
}
.bonuses .bonus.active::before{
    content: "";
    display: flex;
    width: 44px;
    z-index: 10;
    height: 48px;
    background-color: rgba(54, 80, 37, 0.9);
    justify-content: center;
    align-items: center;
    
}
.bonuses .bonus.active img {
    position: absolute;
    z-index: -9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}
.bonuses .bonus.active{
    box-shadow: 0 0 8px black;
}
.conditions .hp, .conditions .mp{
    width: 100%;
    position: relative;
    margin: 0%;
    padding: 0;
    display: inline-block;
    z-index: 0;
}
.bonuses .bonus.deactivated, .skill.deactivated {
    opacity: 0.5;
    cursor: default;
}
.conditions .hp .fill, .conditions .mp .fill{
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}
.conditions .hp .fill span, .conditions .mp .fill span{
    padding-left: 15px;
    text-indent: 15px;
    z-index: 10;
}
.hp{
    background: rgba(129, 0, 0, 0.973);
    color: white;
}
.hp .fill{
    background: rgb(255, 0, 0);
}
.mp{
    background: rgb(19, 0, 88);
    color: white;
}
.mp .fill{
    background: rgb(4, 0, 228);
}
.fps, .score, .timer {
    font-size: 22px;
    background-color: #365025;
    padding: 10px 15px;
    border-radius: 10px;
    color: #ffffff;
}
.seconds {
    display: none;
    position: absolute;
    color: #000000;
    top: 10px;
    right: -60px;
}
.pause{
    cursor: pointer;
    position: fixed;
    color: #ffffff;
    right: 20px;
    top: 10px;
    font-size: 31px;
    padding: 10px 15px;
    background-color: #365025;
    border-radius: 50%;
    transition: all 0.5s;
}
.pause .fa.none{
    display: none;
}
.pause:hover{
    background-color: #578b3e;
    color: #bbd4ae;
}